@font-face {
	font-family: "TechnoIcons";
	src: url('../fonts/TechnoIcons.eot');
	src: url('../fonts/TechnoIcons.eot?#iefix') format('eot'),
		url('../fonts/TechnoIcons.woff2') format('woff2'),
		url('../fonts/TechnoIcons.woff') format('woff'),
		url('../fonts/TechnoIcons.ttf') format('truetype'),
		url('../fonts/TechnoIcons.svg#TechnoIcons') format('svg');
}

.ti:before {
	font-family: "TechnoIcons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.ti-arrow-left:before {
	content: "\E001";
}

.ti-arrow-right:before {
	content: "\E002";
}

.ti-arrow-up:before {
	content: "\E003";
}

.ti-bank:before {
	content: "\E004";
}

.ti-bars:before {
	content: "\E005";
}

.ti-building:before {
	content: "\E006";
}

.ti-bus:before {
	content: "\E007";
}

.ti-camera:before {
	content: "\E008";
}

.ti-car:before {
	content: "\E009";
}

.ti-crane-alt:before {
	content: "\E00A";
}

.ti-crane:before {
	content: "\E00B";
}

.ti-doc:before {
	content: "\E00C";
}

.ti-download:before {
	content: "\E00D";
}

.ti-facebook:before {
	content: "\E00E";
}

.ti-factory:before {
	content: "\E00F";
}

.ti-health:before {
	content: "\E010";
}

.ti-house:before {
	content: "\E011";
}

.ti-image:before {
	content: "\E012";
}

.ti-instagram:before {
	content: "\E013";
}

.ti-key:before {
	content: "\E014";
}

.ti-kids:before {
	content: "\E015";
}

.ti-letter:before {
	content: "\E016";
}

.ti-line:before {
	content: "\E017";
}

.ti-location:before {
	content: "\E018";
}

.ti-marker:before {
	content: "\E019";
}

.ti-oil:before {
	content: "\E01A";
}

.ti-pdf:before {
	content: "\E01B";
}

.ti-phone:before {
	content: "\E01C";
}

.ti-printer:before {
	content: "\E01D";
}

.ti-quote:before {
	content: "\E01E";
}

.ti-rest:before {
	content: "\E01F";
}

.ti-room:before {
	content: "\E020";
}

.ti-search:before {
	content: "\E021";
}

.ti-shield:before {
	content: "\E022";
}

.ti-shop:before {
	content: "\E023";
}

.ti-sport:before {
	content: "\E024";
}

.ti-star:before {
	content: "\E025";
}

.ti-th:before {
	content: "\E026";
}

.ti-times:before {
	content: "\E027";
}

.ti-truck:before {
	content: "\E028";
}

.ti-wood:before {
	content: "\E029";
}
