.ti {
  display: inline-flex;

  &:before {
    line-height: normal;
    font-weight: inherit;
  }
}

@each $value in (90, 180, 270) {
  .ti-rotate-#{$value}:before {
    transform: rotate(#{$value}deg);
  }
}
