@import "bootstrap/core";

.photo {
  margin-left: 2rem;
  width: 22rem;
  margin-right: 4.95rem;

  img {
    width: 100%;
  }
}

.text {
  margin-top: 0.95rem;
  flex: 1;

  .quotation, .author {
    font-size: 1.2rem;
    line-height: 1.7rem;
    font-style: italic;
    font-weight: bold;
    margin-top: 1.25rem;
  }

  .author {
    margin-right: 5rem;
  }

  .ti-quote {
    font-size: 3rem;
    color: #c3e1fc;

    &:first-child {
      margin-right: 1.9rem;
      line-height: 3rem;
    }

    &:last-child {
      margin-left: 2rem;
      margin-top: auto;
    }
  }
}


@include media-breakpoint-down(xxl) {
  .links {
    display: none;
  }
}

@include media-breakpoint-down(lg) {
  .photo {
      margin: 0;
      width: 100%;
  }

  .text {
    .ti-quote {
      font-size: 2rem;
    }
  }
}

