.sidebar li {
  margin-bottom: 0.05rem;
  height: 3rem;
  padding-left: 1.15rem;
  padding-top: 0.85rem;
}

.sidebar {
  width: 20rem;
  font-size: 0.9rem;
}

.icons {
  width: 1.15rem;
  height: 1.35rem;
}

.p-l {
  padding-left: 1.1rem;
}

.div-photo {
  margin-left: 2rem;
  width: 22.05rem;
  height: 32.6rem;
  margin-right: 4.95rem;
}

.obj-fit {
  object-fit: contain;
}

.container-text {
  margin-top: 0.95rem;
}

.quotetion {
  width: 30.1rem;
  font-size: 1.2rem;
  line-height: 1.7rem;
  font-style: italic;
  font-weight: bold;
}

.quote {
  font-size: 3rem;
  color: #c3e1fc;
}

.quote-l {
  padding-right: 1.9rem;
  line-height: 3rem;
}

.quote-r {
  padding-left: 2rem;
  padding-top: 3.6rem;
}
