@import "bootstrap/core";

.section-links {
  .owl-nav {
    position: absolute;
    z-index: 100;
    top: 17.5%;
    right: 0;
    left: 0;
    color: $white;

    button {
      font-size: 4.3rem;
      display: inline-flex;
      padding: 0;
      border: 0;
      outline: 0;
      background-color: transparent;

      i {
        margin-right: -.2em;
        margin-left: -.2em;
      }
    }
  }

  .owl-count {
    line-height: .75;
    margin-right: 2rem;
    margin-left: 2rem;
  }

  .owl-count-current {
    font-size: 3rem;
    font-weight: 600;
    margin-right: 2rem;
  }

  .owl-count-all {
    font-size: 2.4rem;

    &:before {
      content: "/ ";
    }
  }

  .btn-danger {
    margin-top: 4rem;

    i {
      margin-left: 1.1rem;
    }
  }

  .owl-carousel {
    .container {
      position: absolute;
      top: 28%;
      right: 0;
      left: 0;
      margin-top: 5.7rem;
      color: $white;

      .subtitle {
        font-size: 5rem;
        font-weight: bold;
        margin-top: 1.9rem;
      }
    }
  }
}

.section-news {
  padding-top: 2.5rem;

  h1 {
    margin-bottom: 3.15rem;
  }

  .item {
    text-decoration: inherit;

    &:not(:hover) {
      color: inherit;
    }

    &:not(:last-child) {
      margin-right: 2rem;
    }

    .date {
      margin-top: 1rem;
    }
  }

  .btn {
    margin-top: 2.8rem;
  }
}

.section-complexes {
  color: $white;

  .item {
    padding-right: $spacer;
    padding-left: $spacer;
    padding-bottom: 11rem;
  }

  .title {
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
  }

  .subtitle {
    font-size: 1.8rem;
  }

  .btn {
    margin-top: 3.7rem;
  }

  .owl-nav {
    button {
      position: absolute;
      bottom: 2rem;

      i {
        font-size: 2rem;
      }

      &.disabled {
        i {
          color: $secondary !important;
        }
      }
    }

    .owl-prev {
      left: 1rem;
    }

    .owl-next {
      right: 1rem;
    }
  }
}

.owl-carousel {
  height: 100%;

  .owl-stage-outer {
    height: 100%;

    .owl-stage {
      height: 100%;

      .owl-item {
        height: 100%;

        .item {
          height: 100%;
          background-position: center center;
          background-size: cover;
        }
      }
    }
  }
}
