@import "bootstrap/core";

.section-links {
  .owl-nav {
    position: absolute;
    z-index: 100;
    top: 17.5%;
    right: 0;
    left: 0;
  }

  .btn-danger {
    margin-top: 4rem;

    i {
      margin-left: 1.1rem;
    }
  }

  .owl-carousel {
    .container {
      position: absolute;
      top: 28%;
      right: 0;
      left: 0;
      margin-top: 5.7rem;
      color: $white;

      .subtitle {
        font-size: 5rem;
        font-weight: bold;
        margin-top: 1.9rem;
      }
    }
  }
}

.section-complexes {
  color: $white;

  .item {
    padding-right: $spacer;
    padding-bottom: 11rem;
    padding-left: $spacer;
  }

  .title {
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
  }

  .subtitle {
    font-size: 1.8rem;
  }

  .btn {
    margin-top: 3.7rem;
  }

  .owl-nav {
    button {
      position: absolute;
      bottom: 2rem;

      i {
        font-size: 3rem;
      }
    }

    .owl-prev {
      left: 1rem;
    }

    .owl-next {
      right: 1rem;
    }
  }
}

.section-news {
  padding-top: 2.5rem;

  h1 {
    margin-bottom: 3.15rem;
  }

  .item {
    text-decoration: inherit;

    &:not(:hover) {
      color: inherit;
    }

    .date {
      margin-top: 1rem;
    }
  }

  .btn {
    margin-top: 2.8rem;
  }

  .owl-nav {
    display: flex;
    width: 100%;
    margin-top: 1rem;

    .owl-next {
      margin-left: auto;
    }
  }
}

.owl-carousel {
  height: 100%;

  .owl-stage-outer {
    height: 100%;

    .owl-stage {
      height: 100%;

      .owl-item {
        height: 100%;

        .item {
          height: 100%;
          background-position: center center;
          background-size: cover;
        }
      }
    }
  }
}

.section-news, .section-complexes {
  .owl-nav {
    i {
      font-size: 3rem;
    }

    button.disabled {
      i {
        color: $secondary !important;
      }
    }
  }
}

@include media-breakpoint-down(lg) {
  .section-links {
    .owl-carousel {
      .container {
        .subtitle {
          font-size: 4rem;
        }
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .section-links {
    .owl-nav {
      top: 10%;
    }

    .owl-carousel {
      .container {
        top: 15%;

        .subtitle {
          font-size: 2.5rem;
        }

        .btn-danger {
          margin-top: .5rem;

          i {
            margin-left: .8rem;
          }
        }
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .section-links {
    .owl-carousel {
      .container {
        padding-left: 3rem;

        .title {
          font-size: 1.5rem;
        }

        .subtitle {
          font-size: 2rem;
          font-weight: bold;
          margin-top: 1rem;
        }

        .btn {
          font-size: .6rem;
        }
      }
    }
  }
}
