.news {
  padding: 7.5rem 5.75rem;

  h1 {
    margin-bottom: 3.15rem;
  }

  .item {
    text-decoration: inherit;

    &:not(:hover) {
      color: inherit;
    }

    &:not(:last-child) {
      margin-right: 2rem;
    }
  }

  .btn {
    margin-top: 2.8rem;
  }
}
