@import "bootstrap";
@import "icons";
@import "ti";
@import "animations";
@import "header";

@each $key, $value in (primary: $primary, danger: $danger) {
  .btn-#{$key}:hover {
    animation: pulse-#{$key} 1s .1s ease infinite forwards;
  }
}

.btn-primary {
  &:hover {
    i {
      animation: shake .4s ease-out;
    }
  }
}

.owl-nav {
  position: absolute;
  z-index: 100;
  bottom: 17.5%;
  right: 0;
  left: 0;
  color: $white;

  .owl-count {
    line-height: .75;
    margin-right: 2rem;
    margin-left: 2rem;
  }

  .owl-count-current {
    font-size: 3rem;
    font-weight: 600;
    margin-right: 2rem;
  }

  .owl-count-all {
    font-size: 2.4rem;

    &:before {
      content: "/ ";
    }
  }


  button {
    font-size: 4.3rem;
    display: inline-flex;
    padding: 0;
    border: 0;
    outline: 0;
    background-color: transparent;

    i {
      margin-right: -.2em;
      margin-left: -.2em;
    }
  }
}
