@import "bootstrap";
@import "icons";
@import "ti";
@import "animations";
@import "modal";
@import "header";

html, body {
  height: 100%;
}

@each $key, $value in (primary: $primary, danger: $danger) {
  .btn-#{$key}:hover {
    animation: pulse-#{$key} 1s .1s ease infinite forwards;
  }
}

.btn-primary {
  &:hover {
    i {
      animation: shake .4s ease-out;
    }
  }
}

.owl-nav {
  color: $white;

  .owl-count {
    line-height: .75;
    margin-right: 2rem;
    margin-left: 2rem;
  }

  .owl-count-current {
    min-width: 1em;
    font-size: 3rem;
    font-weight: 600;
    margin-right: 2rem;
  }

  .owl-count-all {
    font-size: 2.4rem;

    &:before {
      content: "/ ";
    }
  }


  button {
    font-size: 4.3rem;
    display: inline-flex;
    padding: 0;
    border: 0;
    outline: 0;
    background-color: transparent;

    i {
      margin-right: -.2em;
      margin-left: -.2em;
    }
  }
}


.links {
  display: block;

  .sidebar {
    min-width: 20rem;
    font-size: 0.9rem;

    li {
      margin-bottom: 0.05rem;
      height: 3rem;
      padding: 0.85rem 1.15rem;
      cursor: pointer;

      span {
        padding-left: 1.1rem;
      }
    }
  }
}







section.content {
  padding-top: $header-height;
}

@include media-breakpoint-down(md) {
  section.content {
    padding-top: $header-height / 2;
  }
}

@include media-breakpoint-down(sm) {
  .owl-nav {
    .owl-count-current {
      font-size: 2rem;
      margin-right: 1rem;
    }

    .owl-count-all {
      font-size: 1.4rem;

      &:before {
        content: "/ ";
      }
    }


    button {
      font-size: 3.3rem;
    }
  }
}
